# Dependencies
node_modules/
.pnpm-debug.log*

# Next.js
.next/
out/
build/

# Prisma
prisma/*.db
prisma/*.db-journal

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
